:root {
  font-size: 10px;
  /*Custom propertys: colors*/
  --background-color-body: rgba(244, 244, 245, 255);
  --background-color-item-container: rgba(254, 254, 255, 255);
  --background-color-item-details-container: rgba(244, 244, 245, 255);
  --background-color-price: rgba(254, 254, 255, 255);
  --background-color-size: rgba(254, 254, 255, 255);
  --background-color-quantaty: rgba(254, 254, 255, 255);
  --background-color-blue-circle: rgba(30, 85, 174, 255);
  --background-color-red-circle: rgba(218, 72, 65, 255);
  --background-color-black-cicle: rgba(1, 1, 0, 255);
  --background-color-dark-green-circle: rgba(153, 150, 55, 255);
  --background-color-purple-circle: rgba(213, 102, 143, 255);
  --background-color-Button-add-to-cart: rgba(72, 94, 184, 255);
  --color-button-text: rgba(254, 254, 255, 255);
  --color-text: rgba(51, 51, 51, 255);
}

html {
  font-family: "Quicksand", sans-serif;
  color: var(--color-text);
}

body {
  background-color: var(--background-color-body);
  font-size: 1.28rem;
}

/*Items-container*/

.items-container {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /*Centers all Items together in the body wich is the paraent element*/
}
/* the > symbol mena that JUST the direct childs of items-container become the settings 
otherwise all other children (secound) of items-container would get this setting*/
.items-container > :nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}

/*item-container---------------------------------------------------------------*/
.item-container {
  display: flex; /*Even if that would be not there it would look the same. But just because the max width is sett to 360. so all the follwing items are displayed downwords*/
  flex-direction: column;
  max-width: 360px;
  background-color: var(--background-color-item-container);
  border-radius: 20px;
}

/*.item-img-container---------------------------------------------------------------*/

.item-img-container {
  display: flex;
  flex-direction: column;
  position: relative; /*an element’s original position remains in the flow of the document, 
  just like the static value. But now left/right/top/bottom/z-index will work. The positional 
  properties “nudge” the element from the original position in that direction.
  It has to be set so we can overlay a fader*/
  border-radius: 20px;
}

.item-img {
  max-width: 100%; /* Scale down the image to fit its container -> item-img-overlay-container" */
  height: auto; /* Maintain the aspect ratio */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.img-fader {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute; /*the element is removed from the flow of the document and other elements will behave as 
  if it’s not even there whilst all the other positional properties will work on it.*/
  /* top and left has to be set, otherwise the fader would be not visible */
  top: 0; /*Positions the fader to the top*/
  left: 0;
  background-image: linear-gradient(
    to top,
    white 5%,
    rgba(255, 255, 255, 0) 40%
  ); /*The 5% says that the first 5% are sollid white. after that until 40% the gradient will be active */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.author {
  z-index: 1; /*z-Index puts the element in a specific layer. The highest Number is the very top*/
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.bonus {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.598);
}

/*.item-discription---------------------------------------------------------------*/

.item-discription {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.item-discription-heading {
  font-weight: bold;
}

.item-discription-text {
  line-height: 1.5; /*seperates the lines from each other by a value of the text fontsize */
}

/*.item-detail-container---------------------------------------------------------------*/

.item-details-container {
  background-color: var(--background-color-item-details-container);
  margin: 15px;
  border-radius: 15px;
  padding: 15px;
}

/*.item-price-container---------------------------------------------------------------*/

.item-price-container {
  display: flex; /*display is set to flex because in this way its eayser to position the text / Box inside that container*/
  height: 35px;
  font-size: 15px;
  font-weight: bolder;
  background-color: var(--background-color-price);
  border-radius: 5px;
  justify-content: center; /*alignes content on the main axis*/
  align-items: center; /*alignes items on the secoundary axis*/
}
/*.item-size-and-quantity-container---------------------------------------------------------------*/

.item-size-and-quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-size-container {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 10px;
  margin-top: 10px;
  margin-left: 12px;
  margin-bottom: 9px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--background-color-size);
  align-items: center;
  justify-content: space-between;
}

.ite-size-number {
  align-items: center;
}

.item-size-arrow {
  z-index: 10;
  width: 5px;
  height: 5px;
  rotate: -45deg;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.item-quantity {
  margin-left: 65px;
}

.item-quantity-container {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 10px;
  margin-top: 10px;
  margin-left: 12px;
  margin-bottom: 9px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--background-color-size);
  align-items: center;
  justify-content: space-between;
}

.item-quantity-arrow {
  z-index: 10;
  width: 5px;
  height: 5px;
  rotate: -45deg;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

/*.item-color-container---------------------------------------------------------------*/

.item-color-container {
  display: flex;
  flex-direction: row; /*Can be set but defoult is row*/
  align-items: center;
}

.item-blue-circle {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-color: var(--background-color-blue-circle);
  border-radius: 50%;
}

.item-red-circle {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-color: var(--background-color-red-circle);
  border-radius: 50%;
}

.item-black-circle {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-color: var(--background-color-black-cicle);
  border-radius: 50%;
}

.item-green-black-circle {
  margin-left: 10px;
  border-bottom: 10px solid var(--background-color-dark-green-circle);
  border-left: 10px solid var(--background-color-dark-green-circle);
  border-top: 10px solid var(--background-color-black-cicle);
  border-right: 10px solid var(--background-color-black-cicle);
  border-radius: 10px;
  transform: rotate(45deg);
}

.item-blue-black-circle {
  margin-left: 10px;
  border-bottom: 10px solid var(--background-color-blue-circle);
  border-left: 10px solid var(--background-color-blue-circle);
  border-top: 10px solid var(--background-color-black-cicle);
  border-right: 10px solid var(--background-color-black-cicle);
  border-radius: 10px;
  transform: rotate(45deg);
}

.item-purple-black-circle {
  margin-left: 10px;
  border-bottom: 10px solid var(--background-color-purple-circle);
  border-left: 10px solid var(--background-color-purple-circle);
  border-top: 10px solid var(--background-color-black-cicle);
  border-right: 10px solid var(--background-color-black-cicle);
  border-radius: 10px;
  transform: rotate(45deg);
}

.item-red-white-circle {
  margin-left: 10px;
  border-bottom: 10px solid var(--background-color-red-circle);
  border-left: 10px solid var(--background-color-red-circle);
  border-top: 10px solid white;
  border-right: 10px solid white;
  border-radius: 10px;
  transform: rotate(45deg);
}

.item-black-white-circle {
  margin-left: 10px;
  border-bottom: 10px solid var(--background-color-black-cicle);
  border-left: 10px solid var(--background-color-black-cicle);
  border-top: 10px solid white;
  border-right: 10px solid white;
  border-radius: 10px;
  transform: rotate(45deg);
}
/*.item-cart-container---------------------------------------------------------------*/

.item-cart-container {
  display: flex;
  height: 35px;
  font-size: 1.4rem;
  margin-top: 15px;
  background-color: var(--background-color-Button-add-to-cart);
  color: var(--color-button-text);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

/*.Pictures to compare---------------------------------------------------------------*/

.task-img {
  max-width: 1200px;
  display: block; /*Has to be set because it wont be centered otherwise*/
  margin: auto; /**/
}
